.navbar_main{
    width: 100%;
    background-color: darkviolet;
    height: 60px;
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}
.app_name{
    margin-top: auto;
    margin-bottom:  auto;
    margin-left: 30px;
}
.app_name > span{
    font-size: 20px;
    font-weight: 500;
}
.options{
    margin-top: auto;
    margin-bottom:  auto;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.options > span{
    margin: 5px;
}
.avatar{
    height: 50px;
    width: 50px;
    border-radius: 100px;
}
.links{
    text-decoration: none;
    color: aliceblue;
}